@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Quicksand:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lavender;
}

/* CSS VARIABLES */
:root{
    --border-color: #141c3a;
    --navbar-bg-color: lavender;
    --bg-color : #141c3a;
    --text-color: whitesmoke;
    --text-color-dark: #141c3a;
    --header-font: 'Merriweather';
    --para-font: 'Quicksand';
}


h1, h2, h3, h4{
    font-family: var(--header-font);
}

p, div{
    font-family: var(--para-font);
    color: var(--text-color-dark);
}
