@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Quicksand:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lavender;
}

/* ---------------------------CSS VARIABLES ---------------------------*/
:root{
    --border-color: #141c3a;
    --navbar-bg-color: lavender;
    --bg-color : #141c3a;
    --text-color: whitesmoke;
    --text-color-dark: #141c3a;
    --header-font: 'Merriweather';
    --para-font: 'Quicksand';
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4{
    font-family: var(--header-font);
}

p, div{
    font-family: var(--para-font);
    color: var(--text-color-dark);
}

/* --------------------------------BUTTONS SECTIONS-------------------------------- */

.large-button{
    margin: 3rem 0;
}

.large-button button{
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 3px 1px whitesmoke;
    cursor: pointer;
    transition: transform 0.5s ease-in-out 0s;
}

.large-button button:hover{
    transform: scale(1.1);
}

.large-button a{
    text-decoration: none;
}

.viwe-project-btn button{
    cursor: pointer;
    padding: 5px 13px;
    margin: 1rem 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 1.3rem;
    color: var(--text-color-dark);
}