.design-section{
    width: 100%; 
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-section h3{
    font-size: 2rem;
    text-align: center;
}

.design-section p{
    margin: 1rem 0;
}

.designs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.designs img{
    margin: 1.5rem;
    width: 180px;
}

.design-section button{
    margin-top: 5rem;
    padding: 5px 10px;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 3px 1px whitesmoke;
    cursor: pointer;
    transition: transform 0.5s ease-in-out 0s;
}

.design-section a{
    text-decoration: none;
}

.design-section button:hover{
    transform: scale(1.1);
}

@media (max-width:550px){
    .designs img{
        width: 130px;
        margin: 0.9rem;
    }
}
