.landing-page{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.landing-page h2, main .landing-page p{
    margin: 0.8rem 0.3rem;
    text-align: center;
}

.landing-page h2{
    font-size: 2rem;
    padding: 0 1rem;
}

.landing-page p{
    font-size: 24px;
}

.landing-page img{
    width: 950px;
}


@media only screen and (max-width: 985px){
    .landing-page img{
        width: 600px;
    }
}

@media only screen and (max-width: 650px){
    .landing-page img{
        margin-top: 1.5rem;
        width: 400px;
    }
}

@media only screen and (max-width: 480px){
    .landing-page{
        margin-top: 1rem;
    } 
    .landing-page h2{
        font-size: 1.5rem;
    }
    .landing-page p{
        font-size: 18px;
        margin: 0 0.8rem;
    }

    .landing-page img{
        margin-top: 1.5rem;
        width: 300px;
    }  
}

@media only screen and (max-width: 300px){
    .landing-page img{
        margin-top: 1.5rem;
        width: 230px;
    } 
    .landing-page{
        margin-top: 1rem;
    } 
}

/* --------------------------INTRO PART STARTED-------------------------- */
.intro{
    background-color: #141c3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    padding: 2rem 0;
}

.intro h3, .intro p{
    background-color: #141c3a;
    color: white;
    width: 50%;   
}

.intro h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro p{
    font-size: 1.2rem;
    text-align: justify;
    padding: 9px 0;
    line-height: 1.7rem;
}

@media only screen and (max-width: 880px){
    .intro h3{
        font-size: 1.7rem;
    }
    .intro p{
        font-size: 1.2rem;
    }
    .intro h3, .intro p{
        width: 80%;   
    }
}

@media only screen and (max-width: 340px){
    .intro h3{
        font-size: 1.4rem;
    }
    .intro p{
        font-size: 1rem;
    }
    .intro h3, .intro p{
        width: 90%;   
    }
}

/* -------------------------PROJECTS SECTION STARTED------------------------- */
.projects{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.projects h3{
    font-size: 2rem;
}

.projects .para{
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.project-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.project-container .project-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    box-shadow: 2px 2px 5px var(--border-color);
}

.project-container .project-box h4{
    margin: 10px 0;
    text-transform: capitalize;
}

.project-container .project-box p{
    padding: 0 1rem 1rem 1rem;
    text-align: justify;
}

.project-container .project-box img{
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.project-container .project-box .btn-and-update{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
}
.btn-and-update p{
    color: rgb(161, 161, 190);
}

@media only screen and (max-width: 800px){
    .project-container .project-box{
        width: 45%;
    }
}

@media only screen and (max-width: 500px){
    .project-container .project-box{
        width: 90%;
    }
}

/* -------------------------HOMEPAGE GRAPHICS SECTION------------------------- */
.design-section{
    width: 100%; 
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-section h3{
    font-size: 2rem;
    text-align: center;
}

.design-section p{
    margin: 1rem 0;
}

.designs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.designs img{
    margin: 1.5rem;
    width: 180px;
}

@media (max-width:550px){
    .designs img{
        width: 130px;
        margin: 0.9rem;
    }
}
