*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lavender;
    color: #141c3a;
}

main{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    background-color: lavender;
    flex-direction: column;
}

main .landing-page{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

main .landing-page h2, main .landing-page p{
    margin: 0.8rem 0.3rem;
    text-align: center;
}

main .landing-page h2{
    font-size: 2rem;
}

main .landing-page p{
    font-size: 24px;
}

main .landing-page img{
    width: 950px;
}


@media only screen and (max-width: 985px){
    main .landing-page img{
        width: 600px;
    }
}

@media only screen and (max-width: 650px){
    main .landing-page img{
        margin-top: 1.5rem;
        width: 400px;
    }
}

@media only screen and (max-width: 480px){
    main{
        margin-top: 0;
    }
    main .landing-page{
        margin-top: 1rem;
    } 
    main .landing-page h2{
        font-size: 1rem;
    }
    main .landing-page p{
        font-size: 18px;
        margin: 0 0.8rem;
    }

    main .landing-page img{
        margin-top: 1.5rem;
        width: 300px;
    }  
}

@media only screen and (max-width: 300px){
    main .landing-page img{
        margin-top: 1.5rem;
        width: 230px;
    } 
    main .landing-page{
        margin-top: 1rem;
    } 
}