header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor);
    padding: 0 4rem;
    height: 6rem;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--navcolor);
}

.logo .text-logo{
    width: 60px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger .line{
    height: 3px;
    width: 20px;
    margin: 5px 0;
    background-color: var(--navcolor);
    border-radius: 40px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    padding: 3px 10px;
    cursor: pointer;
    color: var(--navcolor);
    transition: all 0.2s ease-in-out 0s;
}

.navbar ul li a:hover{
    color: var(--bgcolor);
    background-color: var(--navcolor);
    border-radius: 50px;
    transform: scale(1.2);
}

.navbar ul li a.active{
    color: var(--bgcolor);
    background-color: var(--navcolor);
    border-radius: 50px;
    margin-right: 5px;
}

@media only screen and (max-width: 650px){
    header{
        padding: 0 30px;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        top: 5rem;   
        position: absolute;
        right: 0;
        left: 0;
        overflow: hidden;
        background-color:var(--bgcolor);
        height: 0;
        transition: 0.5s;
    }
    .navbar.active{
        height: 200px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        text-align: center;
        opacity: 0;
        margin: 40px auto 0 auto;
        transition: 1s;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li{
        margin-bottom: 1rem;
    }
}
