
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    width: 100vw;
    padding: 0 4rem;
    height: 6rem;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    color: seagreen;
}

.hamburger{
    display: none;
}

.hamburger .line{
    height: 3px;
    width: 20px;
    margin: 5px 0;
    background-color: seagreen;
    border-radius: 40px;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    padding: 5px 7px;
    cursor: pointer;
    color: seagreen;
    transition: all 0.5s ease-in-out 0s;
}

.navbar ul li a:hover{
    color: whitesmoke;
    background-color: seagreen;
    border-radius: 50px;
    transform: scale(1.2);
}

.navbar ul li a.active{
    color: whitesmoke;
    background-color: seagreen;
    border-radius: 50px;
    margin-right: 5px;
}

@media only screen and (max-width: 550px){
    header{
        padding: 0 30px;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        top: 4rem;
        position: absolute;
        right: 0;
        left: 0;
        overflow: hidden;
        background-color: lavender;
        height: 0;
        transition: 0.5s;
    }
    .navbar.active{
        height: 200px;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        text-align: center;
        opacity: 0;
        margin: 40px auto 0 auto;
        transition: 1s;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li{
        margin-bottom: 1rem;
    }
}