.container{
    padding: 3rem 0.4rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.container .graphics-intro{
    margin: 1rem 0 3rem 0;
}

.container .graphics-intro h1{
    margin: 1rem 0;
    font-family: var(--header-font);
}

.container .graphics-intro p{
    line-height: 1.5rem;
    font-size: 1.2rem;   
    text-align: justify;
}
.container .graphics-intro p a{
    text-decoration: none;
    color: var(--text-color-dark);
}

.container .logo-box{
    border: 1px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease-in-out 0s; 
    display: flex;
    align-items: center;
}

.container a:hover{
    transform: scale(0.9);
    box-shadow: 2px 2px 4px 2px whitesmoke;
}

.container a img{ 
    padding: 10px;
    width: 150px;
}

@media (max-width:840px){
    .container a img{
        width: 100px;
    }
    .container{
        width: 90%;
    }
}