:root{
    --border-color: #141c3a;
}

.projects{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.projects h3{
    font-size: 2rem;
}

.projects .para{
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.project-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.project-box div{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    justify-content: center;
    box-shadow: 2px 2px 5px var(--border-color);
}

.project-box div h4{
    margin: 10px 0;
    text-transform: capitalize;
}

.project-box div p{
    padding: 0 1rem 1rem 1rem;
    text-align: justify;
}

.project-box div img{
    height: 300px;
    border-radius: 5px;
}

@media only screen and (max-width: 800px){
    .project-box div{
        width: 45%;
    }
}

@media only screen and (max-width: 500px){
    .project-box div{
        width: 90%;
    }
}